# Similarity and Complementary Clustering

In [83]:
import pandas as pd
# import random
import numpy as np
import json
import pandas as pd
import importlib
# from scipy.spatial.distance import euclidean, pdist, squareform
import seaborn as sns
# from sklearn.cluster import SpectralClustering

import utils
importlib.reload(utils)

### Change verbose to 1 to display more information

In [84]:
verbose = 0
data_path = "data/"
data_file = data_path + 'AnmeldungCoLearningC_DATA_2023-02-22_1020.csv'
label_file = data_path + 'AnmeldungCoLearningC_DATA_LABELS_2023-02-22_1045.csv'
translation_file = data_path + "translations.json"
similar_interest_file = data_path + "similar_interests.json"
availabilities_file = data_path + "availabilities.json"
comp_interest_file = data_path + "complementary_interests.json"
comp_strength_file = data_path + "complementary_strength.json"
df_translated = utils.load_data(data_path, data_file, label_file, translation_file, verbose)

## 1) Group by similarity

In [85]:
importlib.reload(utils)
df_similar = utils.group_by_similarity(df_translated, similar_interest_file, availabilities_file, verbose = verbose)

    treatment  available_labels  study_group  labels_similarity  Record ID
19          1                10         1010                  2         20
23          1                10         1010                  2         24
24          1                12         1012                  2         25
28          1                 3         1003                  3         29
29          1                 3         1003                  3         30
30          1                 1         1001                  1         31
34          1                 3         1003                  3         35
35          1                13         1013                  2         36
39          1                 1         1001                  1         40
41          1                10         1010                  2         42
44          1                12         1012                  2         45
45          1                13         1013                  2         46

## 2) Group by Complementary

In [87]:
importlib.reload(utils)
df_comp = utils.group_by_complementarity(df_translated, comp_interest_file, comp_strength_file, availabilities_file, verbose = verbose)

    treatment  available_labels  study_group  labels_complementary  Record ID
18          0                10         2010                     6         19
22          0                 7         2007                     7         23
26          0                 5         2005                     5         27
27          0                 3         2003                     3         28
31          0                11         2011                     6         32
32          0                 5         2005                     5         33
33          0                 7         2007                     7         34
36          0                 7         2007                     7         37
37          0                 3         2003                     3         38
38          0                 7         2007                     7         39
40          0                 3         2003                     3         41
42          0                10         2010                     6         43
43          0                10         2010                     6         44
46          0                 4         2004                     4         47
48          0                11         2011                     6         49
49          0                 4         2004                     4         50

## 3) Visualize all groups

In [89]:
df_groups = utils.get_groups(df_similar, df_comp)

## Display all groups

In [90]:
# add a column with number of members per team
df_groups.sort_values('study_group')

        treatment  study_group  Record ID
39        similar         1001         40
30        similar         1001         31
34        similar         1003         35
29        similar         1003         30
28        similar         1003         29
41        similar         1010         42
23        similar         1010         24
19        similar         1010         20
24        similar         1012         25
44        similar         1012         45
45        similar         1013         46
35        similar         1013         36
27  complementary         2003         28
37  complementary         2003         38
40  complementary         2003         41
46  complementary         2004         47
49  complementary         2004         50
32  complementary         2005         33
26  complementary         2005         27
38  complementary         2007         39
36  complementary         2007         37
33  complementary         2007         34
22  complementary         2007         23
43  complementary         2010         44
42  complementary         2010         43
18  complementary         2010         19
48  complementary         2011         49
31  complementary         2011         32

## Display groups size

In [34]:
df_groups['study_group'].value_counts()

2007    4
2010    3
2003    3
1010    3
1003    3
2005    2
2011    2
2004    2
1012    2
1001    2
1013    2
Name: study_group, dtype: int64